

.layout-container {
    max-width: 1400px;
    margin: 2vh auto;
    height: 95vh;
    border: 3px solid black;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}


.side-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}