

.layout-container {
    display: flex;
    align-items: stretch;
    max-width: 1200px;
    margin: auto;
    height: 100vh;
}

.layout {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
}

.layout > div {
    flex: 1;
}

.layout > .main {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: lightgray;
}


.side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}