

.card {
    border: 1px solid gray;
    border-radius: 12px;
    -webkit-box-shadow: 5px 5px 15px -3px #000000; 
    box-shadow: 5px 5px 15px -3px #000000;
    height: 400px;
    width: 300px;
    font-size: 32px;
    overflow: hidden;
}

.back {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    background-image: url('https://t3.ftcdn.net/jpg/02/42/23/48/360_F_242234871_lTmbXUInbzADDLHrCH9LLHnWZqxg8AEk.jpg');
    background-size: cover;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 1;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-family: 'Franklin Gothic Lighter', 'Arial Narrow', Arial, sans-serif;
    font-size: .8em;
    font-weight: lighter;
    margin: .8em;
}