.ranks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-family: fantasy, cursive;
    font-size: 1em;
    font-weight: normal;
    padding: .5em;
}

.ranks > div {
    line-height: 1em;
}

.ranks > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 100%;
}