
.rank-descriptions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-row {
    display: flex;
    align-items: stretch;
}

.left-side-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-side-contents {
    display: flex;
    align-items: flex-start;
}

.rank-descriptions p {
    font-size: .9rem;
    background-color: beige;
    border-radius: 4px;
    margin: 10px;
    padding: 12px;
    max-width: 180px;
}
