
.card-container {
  width: 300px;
  height: 400px;
  margin: auto;
  margin-top: 100px;
}

.card {
  border: 3px solid gray;
  display: inline-flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 100%;
  width: 100%;
}

.card-inner {
  background-color: black;
  height: 100%;
  width: 100%;
}

.card-flip .card-inner {
  transform: rotateY(180deg);
}


.card-front {
  background-color: aliceblue;
  height: 100%;
  width: 100%;
}

.card-flip .card-front {
  animation: opacity-shift;
  animation-duration: 1s;
}

.card-flip {
  animation-name: flip;
  animation-duration: 1s;
}

.card-ownership-flip {
  animation-name: ownership-flip;
  animation-duration: 1s;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}




@keyframes opacity-shift {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flip {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}



@keyframes ownership-flip {
  0% {
     transform: perspective(400px) rotateY(0);
     animation-timing-function: ease-out;
  }
  40% {
     transform: perspective(400px) translateZ(150px) rotateY(170deg);
     animation-timing-function: ease-out;
  }
  50% {
     transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
     animation-timing-function: ease-in;
  }
  80% {
     transform: perspective(400px) rotateY(360deg) scale(.95);
     animation-timing-function: ease-in;
  }
  100% {
     transform: perspective(400px) scale(1);
     animation-timing-function: ease-in;
  }
}

@-webkit-keyframes ownership-flip {
  0% {
     -webkit-transform: perspective(400px) rotateY(0);
     -webkit-animation-timing-function: ease-out;
  }
  40% {
     -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
     -webkit-animation-timing-function: ease-out;
  }
  50% {
     -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
     -webkit-animation-timing-function: ease-in;
  }
  80% {
     -webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
     -webkit-animation-timing-function: ease-in;
  }
  100% {
     -webkit-transform: perspective(400px) scale(1);
     -webkit-animation-timing-function: ease-in;
  }
}